/* stylelint-disable no-descending-specificity */

/* Hero core block */

main .hero-container {
  clip-path: none;
  max-width: 100%;
  padding: 0;
  position: relative;
}

.hero-container.section {
  margin: 0;
}

.hero {
  display: flex;
  max-height: 100vh;
  position: relative;
  z-index: 1;
}

.hero-item {
  display: flex;
}

.hero-item div {
  align-items: end;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xxs);
  margin: auto 0 var(--spacing-xl);
  max-width: 100%;
}

.hero-item div ~ *:not(.hero-image){
  position: relative;
  z-index: 2;
}

.hero-title {
  color: var(--color-white);
  font-family: var(--semibold-font-family);
  font-size: var(--heading-font-size-xl);
  line-height: 1.3;
  margin: 0;
  order: 2;
}

.hero-title .hero-animate::after {
  animation: spin 4s linear infinite;
  content: "";

  @keyframes spin {
    0% { content:"Transforming";}
    50% { content:"Converting";}
    100% { content:"Orchestrating";}
  }
}

@keyframes blink {
  from {
    border: none;
  }

  to {
    border-color: 2px solid var(--color-nocturnal-blue);
  }
}

.hero-title .hero-animate {
  animation: blink 0.6s infinite;
  border-right: 2px solid var(--color-white);
}

.hero-item p {
  color: var(--color-white);
}

.hero-image {
  order: 3;
}

.hero-image::before {
  background: 
    linear-gradient(0deg, 
    rgb(33 42 53 / 100%) 0%, 
    rgb(33 42 53 / 80%) 60%,
    rgb(33 42 53 / 40%) 80%, 
    rgb(33 42 53 / 0%) 100%);
  bottom: 0;
  content: '';
  height: 500px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}


@keyframes animation-arrow {
  0% {
    transform: translateY(-3300%);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-item .button-container {
  margin-bottom: 0;
  order: 1;
  position: relative;
  transform: translateY(0);
  transition: var(--hover-animation);
  width: 30px;
}

.hero-item .button-container:hover,
.hero-item .button-container:focus,
.hero-item .button-container:focus-visible {
  transform: translateY(20px)
}


.hero-item .button-container::before {
  animation: animation-arrow .6s linear infinite;
  background-color: rgb(255 255 255 / 80%);
  bottom: 0;
  box-shadow: rgb(72 135 202 / 80%) 0 0 10px 3px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
  z-index: 1;
}

.hero-item .button-container a.button:any-link {
  all: unset;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 135px;
  width: 30px;
  writing-mode: vertical-lr;
}

.hero-item .button-container a.button:hover,
.hero-item .button-container a.button:focus,
.hero-item .button-container a.button:focus-visible {
  outline: 1px solid var(--color-white);
}


.hero-item .button-container a.button:any-link::after {
  border-bottom: 1px solid rgb(255 255 255 / 50%);
  border-left: 1px solid rgb(255 255 255 / 0%);
  border-right: 1px solid rgb(255 255 255 / 50%);
  border-top: 1px solid rgb(255 255 255 / 0%);
  bottom: 2px;
  content: "";
  height: 12px;
  left: 0;
  margin-inline: auto;
  position: absolute;
  right: 0;
  transform: rotate(45deg) translate(6px, -6px);
  width: 12px;
}

.hero-item .button-container a.button:any-link::before {
  background-color: rgb(255 255 255 / 50%);
  bottom: 0;
  content: "";
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
  z-index: 0;
}

.hero-image picture {
  box-sizing: border-box;
  inset: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.service-list {
  display: flex;
  gap: var(--spacing-xs);
  list-style: none;
  margin: 0;
  max-width: 80%;
  padding: 0;
  width: 100%;
}

.service-item {
  margin: 0;
}

.service-item a  {
  background: var(--color-heart-red);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--color-white);
  display: inline-block;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-line-height-xs);
  min-width: 154px;
  padding: var(--spacing-xs);
  text-align: center;
}

.service-item-2 a {
  background: var(--color-light-blue);
}

.service-item-2 a:hover,
.service-item-2 a:focus {
  background: var(--color-white);
}

/* Hero home heading */

.hero-home .hero-item {
  margin-inline: auto;
  max-width: var(--page-max-width);
  padding: var(--spacing-xxl) var(--spacing-m);
  width: 100%;
}

.hero-home .hero-item > div {
  display: block;
}

.hero-home .hero-title, 
.hero-home .hero-subtitle {
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-xxl);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0;
}

.hero-home .highlight {
  color: var(--color-heart-red);
}

/* Hero half */

.hero-page.hero-half {
  height: 100%;
  max-height: 75vh;
}

.hero-page.hero-half .hero-item {
  padding: var(--spacing-4xl) var(--spacing-xs);
}

/* Hero page */

.hero-page {
  height: 664px;
  min-height: auto;
}

.hero-page .hero-image::before {
  height: 400px;
}

.hero-page .hero-item {
  flex-direction: column;
  margin: auto 0 0;
  margin-inline: auto;
  max-width: var(--page-max-width);
  padding: var(--spacing-xxl) var(--spacing-m);
}

.hero-page .hero-item div {
  margin: 0;
  padding: 0;
}

.hero-page .hero-item .hero-title {
  margin: 0;
  order: 0;
}

.hero-page .hero-item .hero-title strong {
  color: var(--color-heart-red);
  font-weight: normal;
}

.hero-page .hero-item .hero-tag {
  color: var(--color-heart-red);
  font-family: var(--semibold-font-family);
  font-size: var(--heading-font-size-xs);
  text-transform: uppercase;
}

.hero-page .hero-item .hero-info {
  display: block;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
}


.hero-page .hero-item .hero-info p {
  margin: var(--spacing-xs) 0 0 0;
}

.hero-page .service-list {
  margin-top: var(--spacing-m);
}

/* Responsive Styles */



@media (width >= 900px) {
  main .hero-container::before {
    height: 800px;
  }

  .hero-home .hero-item > div {
    margin: auto 0 var(--spacing-xs);
  }

  .hero-title {
    font-size: var(--heading-font-size-xxxl);
    line-height: var(--heading-line-height-xxxl);
  }

  .hero-image::before {
    height: 800px;
  }

  .service-item a  {
    font-size: var(--body-font-size);
    line-height: var(--heading-line-height-xs);
    min-width: 170px;
  }

  .service-item a:hover,
  .service-item a:focus {
    background: var(--color-white);
    color: var(--color-nocturnal-blue);
    text-decoration: none;
  }

  .hero-home .hero-title {
    font-size: var(--heading-font-size-xxxl);
    line-height: var(--heading-line-height-xxl);
    margin-bottom: 30px;
    min-height: 150px;
  }

  .hero-home .hero-subtitle {
    font-size: var(--heading-font-size-xxxl);
    line-height: var(--heading-line-height-xxl);
    margin-bottom: var(--spacing-xs);
  }

  .hero-page.hero-half {
    min-height: 600px;
  }

  .hero-page.hero-half .hero-item {
    padding: var(--spacing-xxl) var(--spacing-xs);
   }

  /* Hero page */

  .hero-page {
    justify-content: center;
    max-height: 600px;
  }

  .hero-page .hero-item {
    align-items: unset;
    flex-direction: row;
    gap: 80px;
    width: 100%;
  }

  .hero-page .hero-item .hero-title {
    font-size: var(--heading-font-size-xxxl);
  }

  .hero-page .hero-item .hero-info {
    align-items: start;
    display: flex;
    flex: 80%;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .hero-page .service-list {
    align-self: end;
    flex: 1;
    justify-content: end;
    margin: 0;
    padding: 0;
  }
}
